html {
	body {
		--gap: 1rem;
		padding: 0;
		margin: 0;
		// display: flex;
		// flex-flow: column nowrap;
		// gap: var(--gap);
		height: 100vh;
		overflow: hidden;
		background: #aaa;
		background-image: radial-gradient(#42135b, #3e1247);
	}

	* {
		box-sizing: border-box;
	}
}
